:root {
  --clr-black: #010101;
  --clr-gray: #ececec;
  --clr-white: #f7f7f7;

  --type-buscar: #ff65ce;
  --type-todos: #44675c;
  --type-normal: #a8a77a;
  --type-fire: #ee8130;
  --type-water: #6390f0;
  --type-grass: #7ac74c;
  --type-electric: #f7d02c;
  --type-ice: #96d9d6;
  --type-fighting: #c22e28;
  --type-poison: #a33ea1;
  --type-ground: #e2bf65;
  --type-flying: #010101;
  --type-psychic: #f95587;
  --type-bug: #a6b91a;
  --type-rock: #b6a136;
  --type-ghost: #735797;
  --type-dark: #705746;
  --type-dragon: #6f35fc;
  --type-steel: #b7b7ce;
  --type-fairy: #d685ad;
}

ul {
  list-style-type: none;
}
button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}
body {
  min-height: 100vh;
  background-color: var(--clr-gray);
}

header {
  padding-block: 1rem;
  box-shadow: 0 0 2rem -1rem rgb(0, 0, 0, 0.5);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-inline: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.btn-header {
  background-color: var(--clr-gray);
  padding: 0.5rem;
  border-radius: 100vmax;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 0 1trem rgb(0, 0, 0, 0.25);
  transition: 0.3s;
}
.btn-header:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.25);
}
main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
.pokemon-imagen {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}
.pokemon-imagen img {
  width: 100%;
  max-width: 6rem;
}
.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
}
.nombre-contenedor {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemon-todos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.pokemon {
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: 0 0 3rem -1rem rgb(0, 0, 0, 1);
  padding-block: 1rem;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.pokemon-id-back {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  font-weight: 800;
  z-index: -1;
  color: var(--clr-gray);
}
.pokemon-id {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}
.pokemon-nombre {
  font-size: 1.4rem;
}
.pokemon-tipos {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}
.tipos {
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}
.pokemon-satats {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}
.stat {
  background-color: var(--clr-gray);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}
@media screen and (min-width: 470px) {
  .pokemon-todo {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 700px) {
  .pokemon-todos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.buscar {
  background-color: var(--type-buscar);
}
.todos {
  background-color: var(--type-todos);
}
.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}
.fire {
  background-color: var(--type-fire);
}
.water {
  background-color: var(--type-water);
}
.grass {
  background-color: var(--type-grass);
}
.electric {
  background-color: var(--type-electric);
}
.ice {
  background-color: var(--type-ice);
}
.fighting {
  background-color: var(--type-fighting);
}
.poison {
  background-color: var(--type-poison);
}
.ground {
  background-color: var(--type-ground);
}
.flying {
  background-color: var(--type-flying);
}
.psychic {
  background-color: var(--type-psychic);
}
.bug {
  background-color: var(--type-bug);
}
.rock {
  background-color: var(--type-rock);
}
.ghost {
  background-color: var(--type-ghost);
}
.dark {
  background-color: var(--type-dark);
}
.dragon {
  background-color: var(--type-dragon);
}
.steel {
  background-color: var(--type-steel);
}
.fairy {
  background-color: var(--type-fairy);
}

/* Estilos generales de los botones */
.btn-header {
  color: rgb(248, 246, 246);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-header:hover {
  filter: brightness(1.2);
}

pokemonInput {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.pokemones {
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: 0 0 3rem -1rem rgb(0, 0, 0, 1);
  padding-block: 1rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%; /* Lo centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centrado */
  isolation: isolate;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-inline: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
